{% extends "layout.html" %}
{% block body %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>


  <h2>Search Domain Name:</h2>
  <form method="post" action='{{ url_for('searchDomain') }}' id ='searchDomain'>
     <div id="custom-search-input">
          <div class="input">
            <select id="searchText" class="selectpicker" data-live-search="true" data-width="400px">
              <option value="" class="static">Search Domain Name</option>
            {% for data in dataset %}
              {% if data.urlName %}
              <option class="dropdownoptions" value="{{ data.urlDomain }}">{{ data.urlName }}</option>
              {% endif %}
            {% endfor %}
            </select>
            <button id="searchBtn" class="btn btn-primary disabled">Search</button>
          </div>

    </div>
  </form>
  <script src="../static/js/admin.js"></script>
{% endblock %}
